@charset "UTF-8";
/* 메인 배경색 */
#monthlyData{
	margin:0;
	padding:0;
}
#newMain {
	margin:0;
	background-color: rgba(236, 240, 241);
}
.aclayoutMD{
	border: 1px solid white;
	display:block;
	padding:0%;
	text-align:center;
	background-color:white;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
	margin:0%;
	object-fit:contain;
	width: 100%;
	height: 50%;
}
#acid{
	border: 1px;
	width: 100%;
	heigth: 100%;
	margin: 0;
	margin-top:2%;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
.about-heading > p{
	font-size:20px;
	font-weight:bold;
}

.about-txt > p{
	font-size:18px;
	text-align:center;
	
}
.about-content-box{
	padding-top:0;
	padding-bottom:0;
	padding-left:0;
	padding-right:0;
	color:#fff;
}

.about-bg-layer{
	background-color:rgba(62,207,182,0.70);
	height:100%;
	margin:0px;
}
.comparison {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 20px;
  font: 13px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  padding: 2px;
  object-fit:contain;
}

.comparison table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  word-break:break-all;
}

.comparison td,
.comparison th {
  border-right: 1px solid #E8E8E8;
  empty-cells: show;
  padding: 5px;
  border-top: 1px solid #E8E8E8;
  border-bottom: 1px solid #E8E8E8;
  color: #808080;
  font-size: 14px;
}

.comparison tbody tr:nth-child(odd) {
  display: none;
}

.comparison .compare-row {
  background: #F7F7F7;
}

.fa-check {
  color: #69C7F1;
}

.comparison th {
  font-weight: normal;
  padding: 10px;
  border-top: 0px solid #E8E8E8;
  border-bottom: 0px solid #E8E8E8;
}

.comparison tr td:first-child {
  text-align: left;
  padding: 10px;
  border-left: 1px solid #E8E8E8;
  border-top: 1px solid #E8E8E8;
}

.comparison .product,
.comparison .tl {
  color: #FFF;
  padding: 10px;
  font-size: 14px;
}

.comparison .tl2 {
  border-right: 0;
}

.comparison .product {
  background: #69C7F1;
  height: 40px;
  font-size: 1.60em;
}

.comparison .price-info {
  padding: 10px;
}

.comparison .price-now,
.comparison .price-now span {
  color: #808080;
}

.comparison .price-now span {
  font-size: 20px;
  font-weight: bold;
  color: #545454;
}

.comparison .price-now p {
  font-size: 10px;
  text-align: center;
  line-height: 16px;
  display: inline;
}

.comparison .price-buy {
  background: #EC671A;
  padding: 10px 20px;
  font-size: 14px;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  border-radius: 3px;
  text-transform: uppercase;
  margin: 5px 0 10px 0;
  letter-spacing: 1px;
  cursor: pointer;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

.comparison .price-buy:hover {
  background: #E84D00;
}

@media screen and (min-width: 721px) and (max-width: 1000px) {
  .table_ul li {
    letter-spacing: 0px;
  }
  .comparison .price-now span {
    font-size: 25px;
  }
  .comparison .price-now p {
    display: block;
  }
}

@media screen and (max-width: 720px) {
  .table_ul {
    padding: 0px;
  }
  .table_ul li {
    font-size: 10px;
    line-height: 16px;
    padding: 3px 0;
  }
  .comparison {
    max-width: 100%;
  }
  .comparison td:first-child,
  .comparison th:first-child {
    display: none;
  }
  .comparison tbody tr:nth-child(odd) {
    display: table-row;
    background: #F7F7F7;
  }
  .comparison .row {
    background: #FFF;
  }
  .comparison td,
  .comparison th {
    border: 1px solid #CCC;
    border-top: none;
    padding: 10px;
    width:50px;
  }
  .price-info {
    border-top: 0 !important;
    padding: 5px 0 !important;
  }
  .price-info p {
    line-height: 8px;
    font-size: 8px !important;
  }
  .comparison .compare-row {
    background: #ffffff;
  }
  .comparison .price-now p {
    display: block;
  }
  .comparison .price-now span {
    font-size: 19px;
  }
  .comparison .qbse {
    font-size: 1.2em;
  }
  .comparison td {
    font-size: 14px;
  }
  .comparison th {
    font-size: 14px;
  }
}