<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//DN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="admin">
<!-- resultType은 vo에 있는것을 가져오는것을 말함/ resultMap은 db에 있는걸 바로 가져올때. jsp에 쏴줄땐 대문자로 적음 -->
	<resultMap type="map" id="placeMap">
	
	</resultMap>
	<select id="placeList" resultMap="placeMap">
		select*from place order by PLADATE desc
	</select>
	
	<select id="selectAttachList" parameterType="_int" resultType="placeAttach">
		select*from pla_attachment where PLANO = #{plaNo}
	</select>
	
	<select id="selectMenuList" parameterType="_int" resultType="placeMenu">
		select*from pla_menu where PLANO = #{plaNo}
	</select>
	
	<delete id="placeDelete" parameterType="_int">
	   delete place where PLANO = #{plaNo}
	</delete>
	
	<update id="plaStatusChange" parameterType="map">
		update place set PLASTATUS =#{plaStatus} where PLANO = #{plaNo}
	</update>
	
	<update id="adminReMsg" parameterType="map">
		update place set PLAREMSG = #{plaReMsg}, PLASTATUS =#{plaStatus} where PLANO = #{plaNo}
	</update>
</mapper>