<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//DN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="admin">
<!-- resultType은 vo에 있는것을 가져오는것을 말함/ resultMap은 db에 있는걸 바로 가져올때. jsp에 쏴줄땐 대문자로 적음 -->
	<resultMap type="map" id="placeMap"></resultMap>
	<resultMap type="map" id="adminMap"></resultMap>
	<resultMap type="map" id="memberMap"></resultMap>
	<resultMap type="map" id="reportMap"></resultMap>
	
	<select id="placeList" parameterType="map" resultMap="placeMap">
		select*from place where 1=1
		<if test="plaCategory!=null and plaCategory!='' and plaCategory!='전체'">
			and PLACATEGORY = #{plaCategory}		
		</if> 
		<if test="plaStatus!=null and plaStatus!=''">
			and PLASTATUS=#{plaStatus}
		</if>
		 order by PLADATE desc
	</select>
	
	<select id="selectPlaceCount" parameterType="map" resultType="_int">
		select count(*) from place
		where 1=1
		and PLASTATUS =#{plaStatus}
	</select>
	
	<select id="selectAttachList" parameterType="_int" resultType="placeAttach">
		select*from pla_attachment where PLANO = #{plaNo}
	</select>
	
	<select id="selectMenuList" parameterType="_int" resultType="placeMenu">
		select*from pla_menu where PLANO = #{plaNo}
	</select>
	
	<delete id="placeDelete" parameterType="_int">
	   delete place where PLANO = #{plaNo}
	</delete>
	
	<update id="plaStatusChange" parameterType="map">
		update place set PLASTATUS =#{plaStatus}, PLADATE=default where PLANO = #{plaNo}
	</update>
	
	<update id="adminReMsg" parameterType="map">
		update place set PLAREMSG = #{plaReMsg}, PLASTATUS =#{plaStatus} where PLANO = #{plaNo}
	</update>
	
	<select id="selectProductCount" parameterType="map" resultType="_int">
		select count(*) from product
		where 1=1
		<if test="cate!=null and cate!=''">
			and cno=#{searchCate}
		</if>
		<if test="searchData!=null and searchData!=''">
			and pname like '%'||#{searchData}||'%'
		</if>
	</select>
	
	<select id="selectProductList" resultMap="adminMap">
		select * from product join mall_category using(cno)
		where 1=1
		<if test="cate!=null and cate!=''">
			and cno=#{searchCate}
		</if>
		<if test="searchData!=null and searchData!=''">
			and pname like '%'||#{searchData}||'%'
		</if>
		<if test="stype_n!=null and stype_n!=''">
			order by pdate desc
		</if>
		<if test="stype_s!=null and stype_s!=''">
			order by sales desc
		</if>
		<if test="stype_c!=null and stype_c!=''">
			order by pcount desc
		</if>
	</select>
	
	<select id="selectMallCate" resultMap="adminMap">
		select * from mall_category
	</select>
	
	<select id="selectMapPno" resultType="_int">
		select max(pno) from product
	</select>
	
	<insert id="insertProduct" parameterType="product">
		insert into product values(product_seq.nextval,#{cno},#{pName},#{details},#{oriImg},#{reImg},#{price},#{pCount},default,default)
	</insert>
	
	<delete id="deleteProduct" parameterType="_int">
		delete from product where pno=#{pno}
	</delete>
	
	<select id="selectProduct" parameterType="_int" resultType="product">
		select * from product where pno=#{pno}
	</select>
	
	<update id="updateProduct" parameterType="product">
		update product
		set cno=#{cno}, pName=#{pName}, details=#{details}
		<if test="reImg!=null and reImg!=''">
			, oriImg=#{oriImg}, reImg=#{reImg}
		</if>
		, price=#{price}, pCount=#{pCount}
		where pno=#{pno}
	</update>
	
	<select id="productAuto" parameterType="string" resultType="string">
		select pname from product where pname like '%'||#{search}||'%'
	</select>
	
	<select id="selectOrderList" parameterType="string" resultMap="adminMap">
		select distinct orderno, orderaddr, allprice, odate, userId from orderDetail join cart using(orderNo)
		order by orderNo desc
	</select>
	
	<select id="selectOrderdata" parameterType="string" resultMap="adminMap">
		select * from cart join product using(pno)
	</select>
	
	<select id="selectTotalCount" parameterType="string" resultType="_int">
		select count(distinct orderno) from orderDetail join cart using(orderNo)
	</select>

	<select id="selectMemberCount" resultType="_int">
		select count(*) from member_info
	</select>
	
	<select id="selectMemberList" resultMap="memberMap" parameterType="hashMap">
		select * from member_info order by username desc
		
	</select>
	
	<select id="selectReportList" parameterType="string" resultMap="reportMap">
		select * from report where rwriter=#{rwriter}
	</select>
	
	<update id="adminMemberUpdate" parameterType="string">
		UPDATE MEMBER_INFO SET MGRADE=1 WHERE USERID=#{userId}
	</update>
	
	<select id="blackList" resultMap="reportMap">
		select * from member_info where rgcount>=1
	</select>
	
	<select id="searchList" resultMap="memberMap" parameterType="hashMap">
		select * from member_info where 1=1
		<if test="mtype_name!=null and mtype_name!=''">
			and username like '%'||#{searchValue}||'%' 
		</if>
		<if test="mtype_id!=null and mtype_id!=''">
			and userid like '%'||#{searchValue}||'%' 
		</if>
		order by username

	</select>  
	
<!-- =======================주리가 한 부분 =======================-->	
	
	
	<!-- 문의게시판  총 갯수 -->   
	<select id="selectQnACount" resultType="_int">
		select count(*) from QNA
	</select>
	
	<!-- 문의게시판 ajax 페이징 처리 -->
	<select id="selectQnaBoardList" resultType="qna">
		select qnano, userid,pno,qna_cate_no,qnatitle,qnacontent, reply_content,qnadate,qnastate,qnapw from qna FULL OUTER JOIN reply using(qnaNo)
	</select>
	
	<!-- 답변 게시판 insert -->
	<insert id="insertReply" parameterType="map">
		insert into reply values (#{qnaNo},REPLY_SEQ.nextval,#{reply_content} )
	</insert> 
	
	<!-- 상태 update -->
	<update id="updateState" parameterType="String">
		update qna set qnaState = '답변완료' where qnaNo = #{board_num} 
	</update>
	
	<!-- 리뷰 리스트 불러오기 -->
	<select id="selectReviewList" resultType="review">
		select review.reno, review.userid,review.pno,product.pname,review.recontent,review.orimg, review.reimg, stars,redate from review join product on(review.pno=product.pno) order by redate desc
	</select>
	
	
	<!-- 문의게시판  총 갯수 -->   
	<select id="selectReviewCount" resultType="_int">
		select count(*) from review
	</select>
	
	<delete id="adminQNADel" parameterType="String">
		delete from qna where qnano = #{modal_qno}
	</delete>
	
	<delete id="AdminReviewDel"  parameterType="String">
		delete from review where reno = #{modal_rno}
	</delete>
	
	<select id="selectQnaSearchList" parameterType="map" resultType="qna">
		select * from qna WHERE ${searchType} LIKE '%'||#{keyword}||'%'
	</select>
	
	<select id="selectQnASearchCount" parameterType="map" resultType="_int">
		select count(*) from qna WHERE ${searchType} LIKE '%'||#{keyword}||'%'
	</select>
	
	<!-- =======================주리가 한 끝 =======================-->	

	<update id="adminMemberCancel" parameterType="String">
		update member_info set mgrade = 0 where userid=#{userId}
	</update>
	
</mapper>