<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="details">

	<resultMap type="map" id="qnaMap"></resultMap>

	<!-- pno로 상품 가져오기 -->
   <select id="selectProduct" parameterType="_int" resultType="product">
      select * from product
      where pno=#{pno}
   </select>

	 <!-- 문의하기 입력 -->
   <insert id="insertQna" parameterType="map">
		insert into QNA values(QNA_BOARD_SEQ.nextval,#{USERID},#{PNO},#{QNA_CATE_NO},#{QNATITLE}, #{QNACONTENT},sysdate,default,#{QNAPW})
   </insert>
   
   <!-- 문의게시판 출력 -->
   <select id="selectQnAList" resultType="qna">
   		select qnano, userid,pno,qna_cate_no,qnatitle,qnacontent, reply_content,qnadate,qnastate,qnapw from qna where pno=#{pno} FULL OUTER JOIN reply using(qnaNo) where pno=#{pno} order by QNADATE desc
   </select>
	   
	<!-- 문의게시판  총 갯수 -->   
	<select id="selectQnACount" resultType="_int">
		SELECT COUNT(*) FROM QNA where pno = #{pno}
	</select>	
	
	<!-- 문의게시판 ajax 페이징 처리 -->
	<select id="selectQnaBoardList" parameterType="_int" resultType="qna">
		select qnano, userid,pno,qna_cate_no,qnatitle,qnacontent, reply_content,qnadate,qnastate,qnapw from qna FULL OUTER JOIN reply using(qnaNo) where pno=#{pno} order by QNADATE desc
	</select>
	
	<!-- 리뷰  총 갯수 -->   
	<select id="selectReviewCount" resultType="_int">
		SELECT COUNT(*) FROM Review where pno = #{pno}
	</select>	
	
	<!-- 리뷰  ajax 페이징 처리 -->
	<select id="selectReviewList" parameterType="_int" resultType="review">
		select * from Review where PNO = #{pno} order by redate desc
	</select>


</mapper>
