<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="details">

	<resultMap type="map" id="qnaMap"></resultMap>

	<!-- pno로 상품 가져오기 -->
   <select id="selectProduct" parameterType="_int" resultType="product">
      select * from product
      where pno=#{pno}
   </select>

	 <!-- 문의하기 입력 -->
   <insert id="insertQna" parameterType="map">
		insert into QNA values(QNA_BOARD_SEQ.nextval,#{USERID},#{PNO},#{QNA_CATE_NO},#{QNATITLE}, #{QNACONTENT},null,sysdate,default,#{QNAPW})
   </insert>
   
   <!-- 문의게시판 출력 -->
   <select id="selectQnAList" resultMap="qnaMap">
   		select * from QNA where pno = #{no}
   </select>
	   
	<!-- 문의게시판  총 갯수 -->   
	<select id="selectQnACount" resultType="_int">
		SELECT COUNT(*) FROM QNA where pno = #{no}
	</select>	

</mapper>
