<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//DN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mypage">
	<!-- 장소관리 -->
	<resultMap type="map" id="placeMap"></resultMap>
	<select id="selectPlaceList" parameterType="String" resultMap="placeMap">
		select*from place where USERID=#{userId} order by PLANO desc
	</select>
	
	<select id="selectAttachList" parameterType="_int" resultType="placeAttach">
		select*from pla_attachment where PLANO = #{plaNo}
	</select>
	
	<select id="selectMenuList" parameterType="_int" resultType="placeMenu">
		select*from pla_menu where PLANO = #{plaNo}
	</select>
	
	<delete id="placeDelete" parameterType="_int">
		delete place where PLANO = #{plaNo}
	</delete>
	
	<select id="placeSelect" parameterType="_int" resultType="place">
		select*from place where PLANO =#{plaNo}
	</select>
	
	<update id="placeUpdate" parameterType="place">
		update place set PLAAREA=#{plaArea}, PLACATEGORY=#{plaCategory}, PLANAME=#{plaName}, 
		ORIMG=#{orImg}, REIMG=#{reImg}, PLAPHONE=#{plaPhone}, PLAADDR=#{plaAddr}, PLATIME=#{plaTime},
		PLACONTENT=#{plaContent}, PLAKEYWORD=#{plaKeyword}, PLADATE=default, PLASTATUS='N' where PLANO=#{plaNo} 
	</update>
	
		<update id="updateMenu" parameterType="placeMenu">
		insert into pla_menu(MENUNO,PLANO,MENUNAME,MENUPRICE) values(seq_placemenu_no.nextval,#{plaNo},#{menuName},#{menuPrice})
	</update>
	
	<update id="updateAttach" parameterType="placeAttach">
		insert into PLA_ATTACHMENT(ATTACHMENTNO,PLANO,ORIMG,REIMG) values(SEQ_PLAATTACH_NO.nextval,#{plaNo},#{orImg},#{reImg})
	</update>
	
	<delete id="removeMenu" parameterType="_int">
		delete pla_menu where PLANO=#{plaNo}
	</delete>
	
	<delete id="removeAttach" parameterType="_int">
		delete pla_attachment where PLANO=#{plaNo}
	</delete>
	
	<!-- 커뮤니티 관리 -->
	<resultMap type="map" id="communityMap"></resultMap>
	<select id="communityList" resultMap="communityMap" parameterType="String">
		select c.*,
		(select count(*) from community_comment cc where c.communityno=cc.communityno) as ccount
		from community c 
		where writer=#{community_writer}
		order by communitydate desc
	</select>
	
	<resultMap type="map" id="attachmentMap"></resultMap>
	<select id="attachmentList" parameterType="list" resultMap="attachmentMap">
		select * from attachment where communityno in
		<foreach item="a" collection="list" open="(" separator="," close=")">
		#{a}
		</foreach>
	</select>
</mapper>