<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//DN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mypage">

<!-- resultType은 vo에 있는것을 가져오는것을 말함/ resultMap은 db에 있는걸 바로 가져올때. jsp에 쏴줄땐 대문자로 적음 -->


	<insert id="insertReview" parameterType="review">
		INSERT INTO REVIEW values (REVIEW_SEQ.nextval,#{userId},#{pno},#{reContent},#{orImg},#{reImg},#{stars},sysdate)
	</insert>
	
	<select id="selectQnaBoardList" parameterType="String" resultType="qna">
		select qnano, userid,pno,qna_cate_no,qnatitle,qnacontent, reply_content,qnadate,qnastate,qnapw from qna FULL OUTER JOIN reply using(qnaNo) where userid= #{userId} order by qnadate desc 
	</select>
	
	<select id="selectQnACount" resultType="_int">
		select count(*) from qna where userId = #{userId}
	</select>
	
	<!-- 리뷰  ajax 페이징 처리 -->
	<select id="selectReviewList" parameterType="String" resultType="review">
		select * from Review where userId = #{userId} order by redate desc
	</select>
	
	<select id="selectReviewCount" resultType="_int">
		select count(*) from review where userId = #{userId}
	</select>
	<!-- 장소관리 -->
	<resultMap type="map" id="placeMap"></resultMap>
	<select id="selectPlaceList" parameterType="map" resultMap="placeMap">
		select*from place where 1=1
		<if test="plaCategory!=null and plaCategory!='' and plaCategory!='전체'">
			and PLACATEGORY = #{plaCategory}
		</if>
		<if test="plaStatus!=null and plaStatus!=''">
			and PLASTATUS=#{plaStatus}
		</if>
		<if test="userId!=null and userId!=''">
			and USERID=#{userId}
		</if>
		 order by PLANO desc
	</select>
	
	<select id="selectAttachList" parameterType="_int" resultType="placeAttach">
		select*from pla_attachment where PLANO = #{plaNo}
	</select>
	
	<select id="selectMenuList" parameterType="_int" resultType="placeMenu">
		select*from pla_menu where PLANO = #{plaNo}
	</select>
	
	<delete id="placeDelete" parameterType="_int">
		delete place where PLANO = #{plaNo}
	</delete>
	
	<select id="placeSelect" parameterType="_int" resultType="place">
		select*from place where PLANO =#{plaNo}
	</select>
	
	<update id="placeUpdate" parameterType="place">
		update place set PLAAREA=#{plaArea}, PLACATEGORY=#{plaCategory}, PLANAME=#{plaName}, 
		ORIMG=#{orImg}, REIMG=#{reImg}, PLAPHONE=#{plaPhone}, PLAADDR=#{plaAddr}, PLATIME=#{plaTime},
		PLACONTENT=#{plaContent}, PLAKEYWORD=#{plaKeyword}, PLADATE=default, PLASTATUS='N' where PLANO=#{plaNo} 
	</update>
	
		<update id="updateMenu" parameterType="placeMenu">
		insert into pla_menu(MENUNO,PLANO,MENUNAME,MENUPRICE) values(seq_placemenu_no.nextval,#{plaNo},#{menuName},#{menuPrice})
	</update>
	
	<update id="updateAttach" parameterType="placeAttach">
		insert into PLA_ATTACHMENT(ATTACHMENTNO,PLANO,ORIMG,REIMG) values(SEQ_PLAATTACH_NO.nextval,#{plaNo},#{orImg},#{reImg})
	</update>
	
	<delete id="removeMenu" parameterType="_int">
		delete pla_menu where PLANO=#{plaNo}
	</delete>
	
	<delete id="removeAttach" parameterType="_int">
		delete pla_attachment where PLANO=#{plaNo}
	</delete>
	
	<!-- 신고하기 -->
	<select id="warnMsg" parameterType="string" resultType="_int">
		SELECT RGCOUNT FROM MEMBER_INFO WHERE USERID=#{userId}
	</select>
	
	
	<select id="selectPlaceCount" parameterType="map" resultType="_int">
		select count(*) from place
		where 1=1
		and PLASTATUS =#{plaStatus}
		and USERID =#{userId}
	</select>
	
	<resultMap type="map" id="mallMap"></resultMap>
	<select id="selectOrderList" parameterType="string" resultMap="mallMap">
		select distinct orderno, ordername, orderaddr, allprice, odate from orderDetail join cart using(orderNo)
		where userId=#{userId} 
		order by orderNo desc
	</select>
	<select id="selectOrderdata" parameterType="string" resultMap="mallMap">
		select * from cart join product using(pno) where userId=#{userId}
	</select>
	<select id="selectTotalCount" parameterType="string" resultType="_int">
		select count(distinct orderno) from orderDetail join cart using(orderNo) where userId=#{userId}
	</select>
	<select id="selectWishList" parameterType="string" resultMap="mallMap">
		select * from wishList join product using(pno) where userId=#{userId}
	</select>
	
<resultMap type="map" id="memberMap"></resultMap>
	<select id="memberList" resultMap="memberMap" parameterType="hashMap">
		select*from member_info where USERID =#{userId}
	</select>
	
</mapper>