<<<<<<< HEAD
/* div.main-menu{background-color:skyblue;width:100%;height:50px;}
div.sidebar{background-color:white;display: block;width: 200px;height: auto;text-align:center;margin-left:5%;float:left;}
div.com{height:1300px;width:100%;position:relative;margin-top:2%;}
table tr td a#hashTag{background-color:#F6F6F6;width:auto;overflow:auto;color:black;}
table.post{width:100%;height:40%; cellpadding:0; cellspacing:0; font-family: 'M PLUS Rounded 1c',sans-serif; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
table tr td img.post-img{height:50px;width:50px;float:left;} */
=======
div.main-menu{background-color:skyblue;width:100%;height:50px;}
div.sidebar{background-color:white;display: block;width: 200px;height: auto;text-align:center;margin-left:5%;float:left;}
div.com{height:1300px;width:100%;position:relative;margin-top:2%;}
table tr td a#hashTag{background-color:#F6F6F6;width:auto;overflow:auto;color:black;}
table.post{width:100%;height:40%; cellpadding:0; cellspacing:0; font-family: 'M PLUS Rounded 1c',sans-serif; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
/* table tr td img.post-img{height:50px;width:50px;float:left;} */
>>>>>>> branch 'master' of https://github.com/shfkddlgpqls/chemin.git
/* table tr td img#list_pic{position:relative;} */