
.pagination {
  margin: 0 0;
}

.item-pagination {
  font-family: Montserrat-Regular;
  font-size: 13px;
  color: #808080;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid #eeeeee;
  margin: 6px;
}

.item-pagination:hover {
  background-color: #222222;
  color: white;
}

.active-pagination {
  background-color: #222222;
  color: white;
}

.single_product_container
{
   margin-top: 150px;
   padding-bottom: 80px;
   border-bottom: solid 1px #ebebeb;
}

.image_col
{
   padding-right: 30px;
}

.single_product_image
{
   width: 100%;
   height: 500px;
}
.single_product_image_background
{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
}

.product_details
{
   width: 100%;
}

.product_details_title p
{
   margin-top: 12px;
}

.product_price
{
   display: inline-block;
   font-size: 25px;
   color: #fe4c50;
   font-weight: 500;
   line-height: 10%;
   margin-top: 10%;
}

.quantity
{
   width: 100%;
   height: 40px;
   margin-top: 23px;
}
.quantity_selector
{
   display: -webkit-box;
   display: -moz-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   width: 132px;
   height: 100%;
   border: solid 1px #e5e5e5;
   margin-left: 29px;
}
.quantity_selector span
{
   font-weight: 500;
   color: #232530;
}

.minus
{
   padding-left: 14px;
   padding-right: 14px;
   cursor: pointer;
}
.plus,
.minus
{
   padding-left: 14px;
   padding-right: 14px;
   cursor: pointer;
}
.plus:hover,
.minus:hover
{
   color: #b5aec4;
}

.product_favorite
{
   width: 40px;
   height: 100%;
   margin-left: 22px;
   border: solid 1px #e5e5e5;
   border-radius: 2px;
   cursor: pointer;
}
.product_favorite:hover::after
{
   color: #fe4c50;
}
.product_favorite::after
{
   font-family: 'FontAwesome';
   content:'\f08a';
   font-size: 14px;
}
.product_favorite.active::after
{
   content:'\f004';
   color: #fe4c50;
}
.add_to_cart_button
{
   width: 160px;
   margin-left: 19px;
   font-size: 12px !important;
}

.red_button
{
   display: -webkit-inline-box;
   display: -moz-inline-box;
   display: -ms-inline-flexbox;
   display: -webkit-inline-flex;
   display: inline-flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   /* width: auto;
   height: 40px; */
   background: #fe4c50;
   border-radius: 3px;
   -webkit-transition: all 0.3s ease;
   -moz-transition: all 0.3s ease;
   -ms-transition: all 0.3s ease;
   -o-transition: all 0.3s ease;
   transition: all 0.3s ease;
}
.red_button:hover
{
   background: #FE7C7F !important;
}
.red_button a
{
   display: block;
   color: #FFFFFF;
   text-transform: uppercase;
   font-size: 12px;
   font-weight: 500;
   text-align: center;
   line-height: 40px;
   width: 100%;
}

.product_favorite
{
   width: 40px;
   height: 100%;
   margin-left: 22px;
   border: solid 1px #e5e5e5;
   border-radius: 2px;
   cursor: pointer;
}
.product_favorite:hover::after
{
   color: #fe4c50;
}
.product_favorite::after
{
   font-family: 'FontAwesome';
   content:'\f08a';
   font-size: 14px;
}
.product_favorite.active::after
{
   content:'\f004';
   color: #fe4c50;
}

/*문의 사항 a태그*/
.boardAtag:visited
{
  color:black;
}
    
.boardAtag:hover
{
    color : pink;
}


   
    .star-input>.input,
.star-input>.input>label:hover,
.star-input>.input>input:focus+label,
.star-input>.input>input:checked+label
{
	display: inline-block;vertical-align:middle;
	background:url("grade_img.png")no-repeat;
}
.star-input{display:inline-block; white-space:nowrap;width:225px;height:40px;padding:25px;line-height:30px;}
.star-input>.input{display:inline-block;width:150px;background-size:150px;height:28px;white-space:nowrap;overflow:hidden;position: relative;}
.star-input>.input>input{position:absolute;width:1px;height:1px;opacity:0;}
star-input>.input.focus{outline:1px dotted #ddd;}
.star-input>.input>label{width:30px;height:0;padding:28px 0 0 0;overflow: hidden;float:left;cursor: pointer;position: absolute;top: 0;left: 0;}
.star-input>.input>label:hover,
.star-input>.input>input:focus+label,
.star-input>.input>input:checked+label{background-size: 150px;background-position: 0 bottom;}
.star-input>.input>label:hover~label{background-image: none;}
.star-input>.input>label[for="p1"]{width:30px;z-index:5;}
.star-input>.input>label[for="p2"]{width:60px;z-index:4;}
.star-input>.input>label[for="p3"]{width:90px;z-index:3;}
.star-input>.input>label[for="p4"]{width:120px;z-index:2;}
.star-input>.input>label[for="p5"]{width:150px;z-index:1;}
.star-input>output{display:inline-block;width:60px; font-size:18px;text-align:right; vertical-align:middle;}
   
=======
.single_product_container
{
   margin-top: 150px;
   padding-bottom: 80px;
   border-bottom: solid 1px #ebebeb;
}

.image_col
{
   padding-right: 30px;
}

.single_product_image
{
   width: 100%;
   height: 500px;
}
.single_product_image_background
{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
}

.product_details
{
   width: 100%;
}

.product_details_title p
{
   margin-top: 12px;
}

.product_price
{
   display: inline-block;
   font-size: 25px;
   color: #fe4c50;
   font-weight: 500;
   line-height: 10%;
   margin-top: 10%;
}

.quantity
{
   width: 100%;
   height: 40px;
   margin-top: 23px;
}
.quantity_selector
{
   display: -webkit-box;
   display: -moz-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   width: 132px;
   height: 100%;
   border: solid 1px #e5e5e5;
   margin-left: 29px;
}
.quantity_selector span
{
   font-weight: 500;
   color: #232530;
}

.minus
{
   padding-left: 14px;
   padding-right: 14px;
   cursor: pointer;
}
.plus,
.minus
{
   padding-left: 14px;
   padding-right: 14px;
   cursor: pointer;
}
.plus:hover,
.minus:hover
{
   color: #b5aec4;
}

.product_favorite
{
   width: 40px;
   height: 100%;
   margin-left: 22px;
   border: solid 1px #e5e5e5;
   border-radius: 2px;
   cursor: pointer;
}
.product_favorite:hover::after
{
   color: #fe4c50;
}
.product_favorite::after
{
   font-family: 'FontAwesome';
   content:'\f08a';
   font-size: 14px;
}
.product_favorite.active::after
{
   content:'\f004';
   color: #fe4c50;
}
.add_to_cart_button
{
   width: 160px;
   margin-left: 19px;
   font-size: 12px !important;
}

.red_button
{
   display: -webkit-inline-box;
   display: -moz-inline-box;
   display: -ms-inline-flexbox;
   display: -webkit-inline-flex;
   display: inline-flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   /* width: auto;
   height: 40px; */
   background: #fe4c50;
   border-radius: 3px;
   -webkit-transition: all 0.3s ease;
   -moz-transition: all 0.3s ease;
   -ms-transition: all 0.3s ease;
   -o-transition: all 0.3s ease;
   transition: all 0.3s ease;
}
.red_button:hover
{
   background: #FE7C7F !important;
}
.red_button a
{
   display: block;
   color: #FFFFFF;
   text-transform: uppercase;
   font-size: 12px;
   font-weight: 500;
   text-align: center;
   line-height: 40px;
   width: 100%;
}

.product_favorite
{
   width: 40px;
   height: 100%;
   margin-left: 22px;
   border: solid 1px #e5e5e5;
   border-radius: 2px;
   cursor: pointer;
}
.product_favorite:hover::after
{
   color: #fe4c50;
}
.product_favorite::after
{
   font-family: 'FontAwesome';
   content:'\f08a';
   font-size: 14px;
}
.product_favorite.active::after
{
   content:'\f004';
   color: #fe4c50;
}

/*문의 사항 a태그*/
.boardAtag:visited
{
  color:black;
}
    
.boardAtag:hover
{
    color : pink;
}




