.mypageAtag:visited
{
  color:black;
}
    
.mypageAtag:hover
{
 	color : pink;
}
    
 /*마이페이지*/
.mypage
{
   padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background-image: url("http://papers.co/wallpaper/papers.co-sj42-purple-soft-red-gradation-blur-35-3840x2160-4k-wallpaper.jpg");
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}   
   
   
.user_star_rating
{
	display: inline-block;
	margin-left: 18px;
}
.user_star_rating li
{
	display: inline-block;
	margin-right: -3px;
	cursor: pointer;
}
.user_star_rating li i
{
	color: #f5c136;
	font-size: 18px;
}   